/* Container da tela */
.task-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.task-container-small {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

/* Cabecalho dessa tela */
.task-container header,
.task-container-small header {
    justify-content: start;
    height: 10%;
}

.task-container header input,
.task-container-small header input {
    margin-left: 20px;
    color: #222;
    font-size: 36px;
    border: 0;
    background-color: #FAFAFA;
}

.task-container header button,
.task-container-small header button {
    background-color: #FAFAFA;
    color: #222;
    width: 200px;
}

.task-container header button text,
.task-container-small header button text {
    color: #222;
    font-size: 18px;
}

/* Sub Header */
.task-container .sub-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}

.task-container-small .sub-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30%;
}

/* Box do tempo */
.task-container .time-box{
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    height: 100%;
    width: 100%;
}

.task-container-small .time-box {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    background-color: #FFF;
    height: 50%;
    width: 100%;
}

.task-container .time-box text,
.task-container-small .time-box text {
    margin-left: 10px;
}

/* Botao Finish */
.task-container .button-finish {
    width: 200px;
    height: 40px;
    background-color: #FFF;
}

.task-container-small .button-finish {
    width: 100%;
    height: 50%;
    background-color: #FFF;
}

.task-container .button-finish text {
    font-size: 18px;
    color: #AA0000;
}

.task-container-small .button-finish text {
    font-size: 16px;
    color: #AA0000;
}

/* Box da Descricao */
.task-container .description-box {
    padding: 10px 20px;
    height: 55%;
}

.task-container-small .description-box {
    padding: 10px 20px;
    height: 60%;
}

.task-container .description-box textarea,
.task-container-small .description-box textarea {
    font-size: 24px;
    width: 100%;
    height: 100%;
    resize: none;
    border: 0;
    background-color: #FAFAFA;
}

/* Box dos Botoes */
.task-container .buttons-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    justify-content: space-around;
}

.task-container-small .buttons-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    justify-content: space-around;
}

/* Botao Start */
.task-container .buttons-box .button-start {
    width: 45%;
    height: 60px;
    background-color: #E0FFFF;
}

.task-container-small .buttons-box .button-start {
    width: 100%;
    height: 60px;
    background-color: #E0FFFF;
}

.task-container .buttons-box .button-start text {
    font-size: 28px;
    color: #006400;
}

.task-container-small .buttons-box .button-start text {
    font-size: 18px;
    color: #006400;
}

/* Botao Pause */
.task-container .buttons-box .button-stop {
    width: 45%;
    height: 60px;
    background-color: #E0FFFF;
}

.task-container-small .buttons-box .button-stop {
    width: 100%;
    height: 60px;
    background-color: #E0FFFF;
}

.task-container .buttons-box .button-stop text {
    font-size: 28px;
    color: #BB6400;
}

.task-container-small .buttons-box .button-stop text {
    font-size: 18px;
    color: #BB6400;
}