.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-container-small {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.main-container .body, .main-container-small .body {
    display: flex;
    flex-direction: column;
}

.main-container-small header text {
    font-size: 20px;
}

.main-container .body, .main-container-small .body {
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.main-container .body .time, .main-container-small .body .time {
    font-size: 24px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.main-container .body ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    list-style: none;
}

.main-container-small .body ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    list-style: none;
}

.main-container .body li, .main-container-small .body li {
    background-color: #E0FFFF;
}

.main-container li a,
.main-container-small li a {
    text-decoration: none;
}


.main-container .body li text, .main-container-small .body li text {
    color: #222222;
}

.main-container .body .title-task, .main-container-small .body .title-task {
    width: 100%;
    height: 60px;
    background-color: rgb(33, 33, 33, 0.3);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-container .body .title-task text, .main-container-small .body .title-task text {
    font-size: 32px;
    color: #FFF
}

.main-container .body .description-task-box, .main-container-small .body .description-task-box {
    width: 100%;
    height: 150px;
    padding: 5px 10px;
}

.main-container .body .description-task-box text, .main-container-small .body .description-task-box text {
    font-size: 24px;
    color: #222
}

.main-container .body .time-task-box, .main-container-small .body .time-task-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
    padding-left: 10px;
}

.main-container .body .time-task-box text, .main-container-small .body .time-task-box text {
    font-size: 24px;
    color: #222
}

.main-container button, .main-container-small button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #87CEFA;
}