.finisheds-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.finisheds-container-small {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.finisheds-container-small header text {
    font-size: 20px;
}

.finisheds-container header a,
.finisheds-container-small header a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}


.finisheds-container .body, 
.finisheds-container-small .body {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.finisheds-container .body ul,
.finisheds-container-small .body ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    list-style: none;
    margin-top: 20px;
} 