.signup-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.signup-container-small {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.signup-container .presentation-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 65%;
    min-height: 300px;
    justify-content: center;
    align-items: center;
}

.signup-container-small .presentation-content {
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;
    min-width: 300px;
    justify-content: center;
    align-items: center;
}

.signup-container .presentation-content text {
    font-size: 24px;
    color: #222;
}

.signup-container-small .presentation-content text {
    font-size: 18px;
    color: #222;
    margin-left: 20px;
    height: 70px;
}

.signup-container .presentation-content .boldText {
    font-size: 36px;
    color: #222;
    font-weight: bold;
}

.signup-container-small .presentation-content .boldText {
    font-size: 24px;
    color: #222;
    font-weight: bold;
    margin-left: 20px;
    height: 70px;
}

.signup-container .inputs-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 35%;
    max-width: 300px;
}

.signup-container-small .inputs-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 80%;
}

.signup-container .inputs-content .logo {
    width: 225px;
    height: 187;
}

.signup-container-small .inputs-content .logo {
    width: 150px;
    height: 125px;
}

.signup-container .inputs-content text, .signup-container-small .inputs-content text {
    font-size: 24px;
    color: #222
}

.signup-container .inputs-content .button, .signup-container-small .inputs-content .button {
    margin-bottom: 15px;
    margin-top: 20px;
}

.signup-container .inputs-content .button text, .signup-container-small .inputs-content .button text {
    font-size: 18px;
}

.signup-container .inputs-content .link, .signup-container-small .inputs-content .link {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 50px;
    text-decoration: none;
}

.signup-container .inputs-content .link text, .signup-container-small .inputs-content .link text {
    font-size: 20px;
    padding-left: 10px;
}